<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{story_name}} - Chapter {{chapter}}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="icon" type="image/png" href="https://story-images.s3.eu-central-1.amazonaws.com/icons/favicon-32x32.png"
    sizes="32x32">
<script src="https://kit.fontawesome.com/8381f9891a.js" crossorigin="anonymous"></script>
