<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Storyweb</strong> by <a href="https://github.com/arangatang">Leonardo Araneda Freccero</a>. The source code is not yet licensed
      but im working on it... The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>