{% extends "base_website.jinja" %}

{%block headers %}
    <style>
        p,
        h1,
        h2 {
            text-align: center;
        }

        section img {
            display: block;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            padding-bottom: 50px;
        }
    </style>
{% endblock headers %}

{% block content %}

<section class="section">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title">{{story_name}}</h1>
            <img src={{image}} alt='{{text}}' class="image" />

            <div class="content">
                <h2>Chapter {{chapter}}</h2>
                <p>{{text}}</p>
            </div>
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="buttons">
                        {% for option in options %}
                        <a id={{option.id}} class="button is-fullwidth"
                            href=https://bne1jvubt0.execute-api.eu-central-1.amazonaws.com/default/story-handler?story={{story_name}}&chapter={{option.id}}>
                            {{option.text}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block edit %}
<hr class="navbar-divider">
<a class="navbar-item" href="https://bne1jvubt0.execute-api.eu-central-1.amazonaws.com/default/edit?story={{story_name}}&chapter={{chapter}}">
    Edit this chapter
</a>
<a class="navbar-item">
    Choose an image for this chapter
</a>
{% endblock edit %}